doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/layout.css')
        script(src='http://lib.sinaapp.com/js/jquery/1.9.1/jquery-1.9.1.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
        title= title
body
    div.navbar.navbar-default
        div.container
            a(href="/")
                span.navbar-brand
                    | AdLeida
            div.collapse.navbar-collapse
                ul.nav.navbar-nav.navbar-right
                    if !user_info
                        li.dropdown
                            a.dropdown-toggle(data-toggle="dropdown",href="#", data-target="login-form", aria-haspopup="true",aria-expanded="false")
                                | 登录
                                string.caret
                            div#login-form.dropdown-menu
                                form.form-horizontal(method="post", action="/users/login", accept-charset="UTF-8",style="margin:10px")
                                    fieldset
                                        input#username.form-control.input-md(name="username",placeholder="请输入账户名", type="text")
                                        input#password.form-control.input-md(name="password", placeholder="请输入密码", type="password")
                                        div.spacing
                                            a
                                                small
                                                    | 忘记密码?
                                        button#login.btn.btn-primary.col-md-5.col-xs-5.form-control(type="submit")
                                            | 登录
                        li
                            a(href="/users/register")
                                |注册
                    else
                        li.dropdown
                            a
                                | #{user_info.name}


    div(style="min-height:600px")
        block content

    footer.footer-distributed
        div.footer-left
            h3
                | AD雷达
            p.footer-links
        div.footer-center
            div
                i
                p
                    span
                        | 常营，首开东都汇
                    span
                        | 北京，朝阳
            div
                i
                p
                    | +010..
            div
                i
                p
                    | hr@adleida.com
        div.footer-right
            p.footer-company-about
                span
                    | 关于我们
                | 我们是一家互联网广告领域的创业公司