//
   Created by kliu on 09/07/2015.

extends layout

block content
    link(rel='stylesheet', href="/stylesheets/put.css")
    link(rel="stylesheet", href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.min.css")
    div.container
        div#select-panel.panel.panel-default
            div.panel-heading
                | 选择您想投放的屏
                div.btn-group(role="group").pull-right
                    button#confirm_gis_screens(style="display:none")
                        | 确认
                    button#cancel_gis_screens(style="display:none")
                        | 取消
                    button#select_gis_screens
                        | 选取
            div.panel-body
                div.row
                    div.col-md-12.col-sm-12.col-xs-12
                        div
                            div#screen-map
            div.panel-body
                div.row
                    div.col-md-12.col-sm-12.col-xs-12

                            div.panel-body
                                table#screen-select-table.table
                                    thead
                                        tr
                                            th
                                                | id
                                            th
                                                | 人流量
                                            th
                                                | 历史平均竞价
                                            th
                                                | 选中
                                    tbody



    script(src="http://api.map.baidu.com/api?v=1.5&ak=mYCvhgZoPh1bXmYVH7hQy0Wb")
    link(rel="stylesheet", href="/javascripts/lib/DrawingManager_min.css")
    script(src="/javascripts/lib/DrawingManager_min.js")
    script(src="/javascripts/lib/screenMap.js")
    script(src="/javascripts/lib/runtime.js")
    script(src="/templates/put.js")
    script(src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js")
    script(src="/javascripts/put.js")
