#screen-map{
    height: 400px;
    border: 1px solid #000000;
}

#screen-select-table tbody{
    overflow-y: auto;
    height: 100px;
}

#screen-info-div div.panel-body{
    overflow-y : scroll;
    height : 312px;
}

.filter-category{
}

.filter-select{
}

#screen-map-toolbox{
    position:absolute;
    right:5px;
    top:5px;
}

.green{
    color : #00A000;
}
