//
   Created by kliu on 07/07/2015.
//render every putting in puttings,
//generate the html content

each putting in puttings
   li.putting-list-item.list-group-item
       span.putting-name
           | #{putting.name}
       span.putting-creative
           | #{putting.creative}
       span.putting-status
           | #{putting.status}
       span.putting-date
           | #{putting.date}
